.DS_Store

*.d.ts
node_modules

# only commit public keys
keys/*
!keys/id_rsa.pub

# CDK asset staging directory
.cdk.staging
cdk.out

# local dev
.vscode
.env.local.json
Makefile.env
invoke.out
coverage
build