#set( $limit = $util.defaultIfNull($ctx.args.first, 10) + 1)
{
    "version": "2017-02-28",
    "operation": "Query",
    "index" : "GSI1",
    "nextToken": #if($ctx.args.after) "$ctx.args.after" #else null #end,
    "query" : {
        "expression" : "#GSI1pk = :GSI1pk",
        "expressionNames" : {
            "#GSI1pk" : "GSI1pk"
        },
        "expressionValues" : {
            ":GSI1pk" : { "S": "ORG" },
        }
    },
    "limit" : $limit
}