{
    "version": "2017-02-28",
    "index": "byTypeName",
    "operation": "Query",
    "query" : {
        "expression" : "#pk = :pk",
        "expressionNames" : {
            "#pk" : "__typeName",
        },
        "expressionValues" : {
            ":pk" : $util.dynamodb.toDynamoDBJson("DEVICE")
        }
    }
}